@tailwind base;
@tailwind components;

/* General */
html,
body {
    font-size: 14px;
}

/* End of General */

/* Dashboard Layout */
.dashboard-container {
    @apply grid h-screen;

    grid-template-columns: 0 minmax(0, 1fr);
    grid-template-rows: 0 1fr 50px;
    grid-template-areas:
        'sidebar header'
        'sidebar main'
        'sidebar footer';
}
.header {
    @apply bg-blue-200 fixed top-0 right-0;

    height: 0;
    left: 0;
    grid-area: header;
    z-index: 999;
}
.sidebar {
    @apply bg-blue-700 fixed top-0 bottom-0;

    left: -240px;
    width: 240px;
    grid-area: sidebar;
}
.main {
    @apply px-10 pt-10 pb-6;

    grid-area: main;
}
body.with-full-main-content .main { @apply px-0 pt-0 bg-blue-100; }
.footer {
    grid-area: footer;
}

/* End of Dashboard Layout */

/* Dashboard LayoutResponsive */

/* 640 -767 */
@screen sm {
    /* Mobile view */
}

/* 768 -1023 */
@screen md {
    .dashboard-container {
        grid-template-columns: 70px minmax(0, 1fr);
        grid-template-rows: 0 1fr 50px;
    }
    .header {
        left: 70px;
        height: 0;
    }
    .sidebar {
        @apply left-0;

        width: 70px;
    }
}

/* 1024 - 1279 */
@screen lg {
    /* Tablet view */
}

/* > 1280 */
@screen xl {
    .dashboard-container {
        grid-template-columns: 240px minmax(0, 1fr);
    }
    .header {
        left: 240px;
    }
    .sidebar {
        @apply left-0;

        width: 240px;
    }
}

/* Dashboard End of Responsive */
